// Social CTA styles
    #dark-light{
        background: #323232;
        box-shadow: 0px 2px #000;
        color: white;
        -webkit-transition: all .1s ease-in-out;
        -moz-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
        -o-transition: all .1s ease-in-out;
        transition: all .1s ease-in-out;
    }
    #dark-light:hover{
        background-color: #B40101;
        box-shadow: 0px 2px #600000;
        -moz-transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -o-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
    }
    #light-light{
        background-color: #B40101;
        box-shadow: 0px 3px #600000;
    }
    #light-light:hover{
        background-color: #FD3434;
        box-shadow: 0px 3px #B40101;
    }
    .social-icons {
        display: inline-block;
        height: 54px;
        width: 380px;
        text-align: center;
    }
    .social-icons a i {
        float: left;
        font-size: 2.5em;
        height: 54px;
        width: 54px;
        margin-right: 7px;
        line-height: 54px;
    }
 
    .review-wrapper {
        margin-top: 3px;
        margin-bottom: 3px;
        width: 400px;
    }
    .review {
        display: inline-block;
        margin-right: 3px;
        width: 115px;
        height: 50px;
    }
    .review:hover {
        -moz-transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -o-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
    }
    .review svg {
        padding: 3px;
        width: 106px;
        height: 44px;
        fill: white;
    }

      .itunes-wrapper{
        width: 359px;
        height: 54px;
        margin-top: 3px;
    }

    .itunes {
        fill: white;
        height: 54px;
        width: 359px;
    }
    .cta,
    .cta2 {
        height: 90px;
        width: 355px;
        padding: 2px;
        text-align: center;
        margin-top: 8px;
        -webkit-transition: all .1s ease-in-out;
        -moz-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
        -o-transition: all .1s ease-in-out;
        transition: all .1s ease-in-out;
    }

    .cta:hover {
        -moz-transform: scale(1.01);
        -webkit-transform: scale(1.01);
        -o-transform: scale(1.01);
        -ms-transform: scale(1.01);
        transform: scale(1.01);
    }
    .cta2 {
        background-color: #323232;
        box-shadow: 0 3px #000;
    }
    .cta2:hover {
        background-color: #666666;
        box-shadow: 0 3px #323232;
        -moz-transform: scale(1.01);
        -webkit-transform: scale(1.01);
        -o-transform: scale(1.01);
        -ms-transform: scale(1.01);
        transform: scale(1.01);
    }
    .acta {
        margin-bottom: 1em;
        color: white !important;
        text-decoration: none;
        font-family: arial, sans-serif;
        font-size: 20px;
        vertical-align: middle;
        letter-spacing: .002em;
    }
    .acta:hover {
        text-decoration: none;
    }
      #HTML1 .widget-content{
        text-align: center;
    } #HTML12 .widget-content{
        text-align: center;
    }


//Form Styles


    #form-wrapper {
        width: 98%;
        padding: 1%;
        position: relative;
        text-align: left;
    }
    .js-warning {
        color: #f00;
        font: normal normal 10px Verdana, Arial, sans-serif;
    }
    #uquestion,
    input.field {
        border: solid 1px #AAA;
        margin: 0;
        padding: 0;
        font-family: Verdana, sans-serif;
        color: #AAA;
    }
    /*#form-question { width: 96%; padding: 10px 1%; margin-right: 1%; margin-bottom: 10px; }
  input.field { padding: 10px 1%; margin-right: 1%; width: 30%; min-width: 100px; }*/
    #uquestion {
        padding: 10px;
    }
    input.field {
        padding: 10px;
        margin: 10px 10px 0 0;
    }
    .honey {
        display: none;
    }
    .form-submit {
        width: 50px;
        padding: 10px;
        border: none;
        margin: 0;
        color: #ffffff;
        -webkit-transition: all .1s ease-in-out;
        -moz-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
        -o-transition: all .1s ease-in-out;
        transition: all .1s ease-in-out;
    }
    .form-submit:hover{
        -moz-transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -o-transform: scale(1.05);
        -ms-transform: scale(1.05);
         transform: scale(1.05);
    }
    .form-submit:focus{
    outline: none;
    }
    #form-overlay {
        width: 100%;
        height: 100%;
        text-align: center;
        color: #ffffff;
        font: normal bold 1.5em Verdana, Arial, sans-serif;
        display: none;
    }
